body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(42, 121, 211, 0.74);
}



.navbar {
    background-color: rgb(184, 112, 4);
overflow: hidden;}

.navbar a {
    display: inline-block
    text-decoration; none;
    text-align: center;
    padding: 14px 20px;
    color: white;
}

.navbar a:hover {
    background-color: rgb(24, 1, 12)
    color blueviolet
}

.navbar .logo {
    font: size 20px;
    font-weight: bold;
    float: left;
}

.navbar .nav-item {
    float: right
}
